:root {
  --ss-background: #F1F4F6;
  --ss-surface: #FBFCFE;
  --ss-chrome: #DFE1E4;
  --ss-foreground: #0A0B0C;
  --ss-muted-foreground: #4F5051;
  --ss-chrome-foreground: #0A0B0C;
  --ss-border: #B8BBBE;
  --ss-primary: #3B6186;
  --ss-primary-foreground: #FBFCFD;
  --ss-accent: #4F598D;
  --ss-accent-foreground: #FBFCFD;
  --ss-focus: #4F598D;
  --ss-success: #006425;
  --ss-success-foreground: #FBFCFD;
  --ss-warning: #6E4B00;
  --ss-warning-foreground: #FBFCFD;
  --ss-danger: #902824;
  --ss-danger-foreground: #FBFCFD;
  --ss-primary-50: #F4F9FF;
  --ss-primary-100: #DDEDFF;
  --ss-primary-200: #BCDBFC;
  --ss-primary-300: #A0C1E4;
  --ss-primary-400: #7FA2C7;
  --ss-primary-500: #6287AD;
  --ss-primary-600: #4A6F95;
  --ss-primary-700: #36587A;
  --ss-primary-800: #213F5D;
  --ss-primary-900: #0D2842;
  --ss-primary-950: #001227;
  --ss-accent-50: #F6F8FF;
  --ss-accent-100: #E5EAFF;
  --ss-accent-200: #CBD5FF;
  --ss-accent-300: #AFBBEB;
  --ss-accent-400: #8F9BCE;
  --ss-accent-500: #7480B5;
  --ss-accent-600: #5D689C;
  --ss-accent-700: #485280;
  --ss-accent-800: #323963;
  --ss-accent-900: #1D2346;
  --ss-accent-950: #0A0D2C;
}
